<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <title>Cerveja</title>

    <link rel="stylesheet" href="css/cerveja/cerveja-imagem.css">
    <link rel="stylesheet" href="css/cerveja/cerveja-origem.css">
    <link rel="stylesheet" href="css/cerveja/cerveja-texto.css">

    <link rel="stylesheet" href="css/conteudo/conteudo.css">
    <link rel="stylesheet" href="css/conteudo/conteudo-conteiner.css">
    <link rel="stylesheet" href="css/conteudo/conteudo-infos.css">
    <link rel="stylesheet" href="css/conteudo/conteudo-titulo.css">
    <link rel="stylesheet" href="css/conteudo/conteudo-titulo-conteiner.css">

    <link rel="stylesheet" href="css/filtro/filtro.css">
    <link rel="stylesheet" href="css/filtro/filtro-itens.css">
    <link rel="stylesheet" href="css/filtro/filtro-label.css">
    <link rel="stylesheet" href="css/filtro/filtro-tipo.css">
    <link rel="stylesheet" href="css/filtro/filtro-tipo-conteiner.css">

    <link rel="stylesheet" href="css/tabela/tabela.css">
    <link rel="stylesheet" href="css/tabela/tabela-cabecalho.css">
    <link rel="stylesheet" href="css/tabela/tabela-dado.css">
    <link rel="stylesheet" href="css/tabela/tabela-linha.css">
</head>

<body class="fonte">
    <div class="breadcrumb">
        <span>Você esta em:</span>
        <ul class="breadcrumb__lista">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Home</a></li><span>&#10148;</span>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="cervejas">Cervejas</a></li>
            <span>&#10148;</span>
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="">Bhrama</a></li>
        </ul>
    </div>

    <section class="conteudo">
        <div class="conteudo__tituloConteiner conteudo__tituloConteiner--cerveja">
            <h1 class="conteudo__titulo conteudo__titulo--alternativo">{{nomeCerveja}}Bhrama(Cerveja)</h1>
        </div>

        <div class="conteudo__conteiner">
            <section class="conteudo__infos">
                <div class="cerveja__imagem">
                </div>
                <table class="tabela">
                    <tbody>
                        <tr class="tabela__linha">
                            <th class="tabela__cabecalho">Tipo:</th>
                            <td class="tabela__dado">{{dataValues.tipo}}Cerveja</td>
                        </tr>
                        <tr class="tabela__linha">
                            <th class="tabela__cabecalho">Teor Alcoólico:</th>
                            <td class="tabela__dado">{{dataValues.teorAlcoolico}}4,8%</td>
                        </tr>
                        <tr class="tabela__linha">
                            <th class="tabela__cabecalho">Slogan:</th>
                            <td class="tabela__dado">{{dataValues.slogan}}Brahma, o sabor de ser mais</td>
                        </tr>
                        <tr class="tabela__linha">
                            <th class="tabela__cabecalho">Origem:</th>
                            <td class="tabela__dado">{{dataValues.origem}}Rio de Janeiro, no Rio de Janeiro, no Brasil
                            </td>
                        </tr>
                        <tr class="tabela__linha">
                            <th class="tabela__cabecalho">Criador:</th>
                            <td class="tabela__dado">{{dataValues.criador}}Joseph Villiger</td>
                        </tr>
                        <tr class="tabela__linha">
                            <th class="tabela__cabecalho tabela__cabecalho--ultimo">Introduzida:</th>
                            <td class="tabela__dado tabela__dado--ultimo">{{dataValues.introduzido}}1888</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="cerveja__origem">
                <h1 class="conteudo__titulo conteudo__titulo--cervejaAlternativo">Origem Do Nome</h1>

                <p class="cerveja__texto">Não há nenhuma comprovação da origem do nome, mas há três hipóteses para a
                    origem do nome.</p>

                <p class="cerveja__texto">A primeira seria uma homenagem dos criadores da cervejaria ao deus Brama, da
                    religião Hindu, que também
                    pode ser escrito como Brahma como a cerveja.</p>

                <p class="cerveja__texto">A segunda seria uma homenagem ao compositor alemão Johannes Brahms.</p>

                <p class="cerveja__texto">A terceira seria uma homenagem ao britânico Joseph Bramah, inventor da válvula
                    manual para tirar chope em
                    balcões de bares. Como Bramah fundou uma empresa com seu sobrenome, os cervejeiros brasileiros não
                    poderiam usar este, e tiveram de mudar as letras de lugar para dar origem ao nome da cerveja.</p>
            </section>
        </div>
    </section>
</body>

</html>