<div class="breadcrumb">
  <span>Você esta em:</span>
  <ul class="breadcrumb__lista">
    <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Home</a></li><span>&#10148;</span>
    <li class="breadcrumb__item"><a class="breadcrumb__link" href="/cervejas">Cervejas</a></li>
  </ul>
</div>

<section class="conteudo">
  <div class="conteudo__tituloConteiner">
    <h1 class="conteudo__titulo conteudo__titulo--alternativo">Cervejas</h1>
    <span class="botao--filtro" data-botaoFiltro>Filtro
      <svg xmlns="http://www.w3.org/2000/svg" class="menu__icone menu__icone--filtro" viewBox="0 0 35 35" xml:space="preserve">
        <path d="M20.8 22.5h-6.7c-2.8 0-5 2.2-5 5s2.2 5 5 5h6.7c2.8 0 5-2.2 5-5s-2.2-5-5-5zM17.5 20.8.8 2.5h33.3L17.5 20.8z"></path>
      </svg>
    </span>
  </div>
  <div class="filtro filtro--fechado" data-filtro>

    <div class="filtro__tipoConteiner">
      <span class="filtro__tipo">Marcas</span>
      <div class="filtro__itens">
        {{#each filtros}}
          {{#ifTipo dataValues.tipo 'marca'}}
          <div class="filtro__item">
            <input type="checkbox" name="marca{{dataValues.filtro}}" id="marca{{dataValues.filtro}}" value="{{dataValues.filtro}}" data-filtro-marca />
            <label class="filtro__label" for="marca{{dataValues.filtro}}">{{dataValues.filtro}}</label>
          </div>
          {{/ifTipo}}
        {{/each}}
      </div>
    </div>

    <div class="filtro__tipoConteiner">
      <span class="filtro__tipo">Estilos de Cervejas</span>
      <div class="filtro__itens">
        {{#each filtros}}
          {{#ifTipo dataValues.tipo 'estilo de cerveja'}}
          <div class="filtro__item">
            <input type="checkbox" name="marca{{dataValues.filtro}}" id="marca{{dataValues.filtro}}" value="{{dataValues.filtro}}" data-filtro-marca />
            <label class="filtro__label" for="marca{{dataValues.filtro}}">{{dataValues.filtro}}</label>
          </div>
          {{/ifTipo}}
        {{/each}}
      </div>
    </div>

    <div class="filtro__tipoConteiner">
      <span class="filtro__tipo">Ordem</span>
      <div class="filtro__itens filtro__itens--orderm">
        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">Ordem alfabetica</label>
        </div>

        <div class="filtro__item">
          <input type="checkbox" name="origemBrasil" id="origemBrasil" />
          <label class="filtro__label" for="origemBrasil">Data</label>
        </div>
      </div>
    </div>
    
  </div>

  <div class="galeria galeria--alternativa">
    {{#each cervejas}}
    <div class="galeria__moldura galeria__moldura--alternativa" data-marca="{{dataValues.nomeCerveja}}">
      <a class="galeria__link" href="/cervejas/{{dataValues.id}}">
        <img class="galeria__imagem galeria__imagem--cerveja" src="/imgs/{{dataValues.imagemCerveja}}" alt="" />
        <div class="galeria__overlay">
          <h3 class="galeria__titulo">{{dataValues.nomeCerveja}}</h3>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</section>